@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url('http://twitter.github.com/bootstrap/assets/css/bootstrap.css');

*{
  text-decoration: none;
  list-style: none;
}

body{
  margin: auto;
  width: 100%;
  height: 100%;
}

/* PAGE-HEADER AND NAV */
#page-header{
  width: 100%;
  margin: 0px auto;
  position: fixed;
  top:0;
  font-family: 'Open Sans Condensed', sans-serif;
  z-index: 100;
}

#page-header .nav{
  margin-top: 0;
  padding: 0.5em;
  text-align: right;
  background-color: #FFE0FF;
  border-bottom: 15px solid #FFEEFF;
}

#page-header .nav li{
  display: inline-block;
  padding: 0.5em;
  font-size: 2em;
}

#page-header .quote{
  width: 20%;
  background-color: rgba(243, 154, 249, 0.2);
}

/*** PAGE-BODY ***/

#page-body{
  width: 960px;
  margin: 0px auto;
}

.blank{
  height: 150px;
}
/* HOME */
#page-body #home{
  min-height: 100%;
  margin: -30px auto;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 70px;
  text-align: center;
  color: #FFCCCC;
}

#page-body #home h1{
  border-bottom: 3px solid #FFF0F0;
}

/* ABOUT */
#page-body #about{
  width: 100%;
  min-height: 100%;
  margin: 0px auto;
  font-family: 'Open Sans Condensed', sans-serif;

}

.web-skill-icon{
  margin: auto;
  max-width: 90%;
}

.web-skill-icon ul{
  margin: auto;
  width: 100%;
  padding-bottom: 0.5em;
}

.web-skill-icon li{
  display: inline-block;
  margin: auto;
  max-width: 100px;
}

.web-skill-icon img{
  width: 100px;
  height: 100px;
  margin: auto;
}

.web-skill-icon img:hover{
  transform: scale(1.5, 1.5);
}

.web-skill-icon p{
  width: 860px;
  padding: 0.2em;
  text-align: center;
  background-color:rgba(225,225,225,0.7);
}

.web-skill-icon p span{
  font-weight: 700;
  font-size: 15px;
}

.about-summary{
  width: 700px;
  margin: auto;
}

/* PROJECTS */

#projects{
  width: 100%;
  min-height: 100%;
  margin: 0px auto;
  font-family: 'Open Sans Condensed', sans-serif;

}

.pro-left, .pro-right{
  display: inline-block;
  vertical-align: middle;
}

.pro-left{
  width: 30%;
  margin: auto;

}

.pro-left h2{

}

.pro-left a{
  display: inline-block;
  padding: 0.5em 1em 0.5em 1em;
  background-color: #2EB8B8;
  border: 3px solid rgba(225, 225, 225, 0.5);
  color: white;
  margin: auto 10px auto auto;
  -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
        border-radius: 4px;
}

.pro-left a:hover{
  transform: scale(1.2, 1.2);
  background-color: #4D9A9A;
}

.pro-right{
  width: 65%;
  margin: auto;
}

.pro-right img{
  width: 100%;
}


/* BODY FOOTER - CONTACT */
#page-footer{
  width: 100%;
  min-height: 100%;
  min-height: 100%;
  margin: auto;
}

#page-footer h2{
  color: #FFCCCC;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 50px;
  border-bottom: 3px solid #FFF0F0;
  margin-bottom: 10px;
}

#page-footer .about-info{
/*  width: 200px;
  height: 0px;
  margin: auto;
  background-color: #FFFFCC;
  display: inline-block;
  vertical-align: bottom;*/
}

#page-footer .contact{
  width: 700px;
  margin: auto;
}

.contact p{
  text-align: center;
}

.contact input, .contact textarea{
  width: 95%;
  padding: 0.7em;
  font-size: 15px;
}

.contact textarea{
  height: 170px;
}


.contact button{
  margin: auto;
  width: 250px;
  padding: 0.5em;
  background-color: red;
  color: white;
  font-size: 20px;
}

/* FOOTER */

footer{
  margin: auto;
  padding: 0.5em;
  width: 100%;
  background-color: #FFE0FF;
  font-family: 'Open Sans Condensed', sans-serif;
  border-top: 15px solid #FFEEFF;
}

footer .links{
  margin: auto auto 10px auto;
  display: inline-block;
  width: 100%;
  font-size: 20px;
  text-align: center;
}

footer .links a{
  padding: 0.5em;
}

@media screen and (max-width: 960px){
  body{
    min-height: 100%;
    width: 100%;
    padding: 0;
  }

  ul, li, div, section{
    padding: 0;
  }

  #page-header,
  #page-body,
  #page-footer{
    width:100%;
    min-height: 100%;
  }

  .quote{
    margin-top: -85px;
    padding-right: 2em;
  }

  .quote blockquote{
    width: 100%;
  }

   #page-footer .contact{
    width: 100%;
  }

  .web-skill-icon ul{
    width: 100%;
    margin: auto;
  }

  .web-skill-icon img{
    width: 90px;
    height: 90px;
    margin: auto;
  }

}

@media screen and (max-width: 640px){
  ul{
    padding: 0;
  }

  #page-header .nav li{
    padding: 0.1em 0.2em 0.5em 0.1em;
  }

  #page-header .nav li a{
    font-size: 25px;
    margin: auto;
    padding: 0;
  }

  #page-body #home{
    min-height: 100%;
    width: 100%;
    margin: -30px auto;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
  }

  .pro-left,
  .pro-right{
    display: block;
    width: 95%;
    text-align: center;
    padding-bottom: 1em;
  }

  .pro-left p, .about-summary {
    width: 90%;
    margin: auto;
    padding: 0;
    padding-bottom: 1em;
  }
  .web-skill-icon, .web-skill-icon section{
    width: 100%;
    margin: auto;
  }

  .web-skill-icon ul{
    padding:0;
    margin: auto;
  }

  .web-skill-icon img{
    width: 60px;
    height: 60px;
    margin: auto;
  }

  .quote{
    margin-top: -55px;
    padding-right: 7em;
    width: 40%;
  }

  .quote blockquote{
    font-size: 12px;
    width: 100%;
  }
}

