@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

*{
  text-decoration: none;
  list-style: none;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 0;
}

html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

/* PAGE-HEADER AND NAV */
#page-header{
  width: 100%;
  margin: 0px auto;
  position: fixed;
  top:0;
  z-index: 100;
}

#page-header .nav{
  margin-top: 0;
  padding: 0.5em;
  text-align: right;
  background-color: rgba(255, 239, 247, 1);
  border-bottom: 15px solid rgba(252, 236, 237, 1);
}

#page-header .nav li{
  display: inline-block;
  padding: 0.5em;
  font-size: 2em;
}

#page-header .nav a{
  color: #806666;
}


.quote{
  margin-top: -85px;
  padding-right: 1.5em;
  width: 27%;
  background-color: rgba(243, 154, 249, 0.2);
}

.quote blockquote{
  width: 100%;
}

/*** PAGE-BODY ***/

#page-body{
  width: 100%;
  margin: 0px auto;
}

.blank{
  height: 150px;
}

/* HOME */
#page-body #home{
  height: 100%;
  margin: -30px auto;
  font-size: 70px;
  text-align: center;
  color: #FFCCCC;
}

#page-body #home img{
  width: 300px;
  height: 300px;
  position: absolute;
  padding: 0;
  right: 0;
  display: block;
  bottom: 0;
  z-index: 1;
}


/* SVG CSS */

#Layer_1{
  margin: auto;
  padding: 0;
  background-color: rgba(255, 255, 250, 0.5);
}


.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 15s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}


/* ABOUT */
#page-body #about{
  width: 960px;
  min-height: 100%;
  margin: 0px auto;
}

#about h2{
  color: rgba(192, 239, 212, 1);
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
}

.web-skill-icon{
  margin: auto;
  max-width: 90%;
}

.web-skill-icon ul{
  margin: auto;
  width: 100%;
  text-align: center;
}

.web-skill-icon li{
  display: inline-block;
  margin: auto;
  max-width: 100px;
}

.web-skill-icon img{
  width: 100px;
  height: 100px;
  margin: auto;
}

.web-skill-icon img:hover{
  transform: scale(1.5, 1.5);
}

.web-skill-icon p{
  width: 860px;
  padding: 0.5em 0.2em;
  text-align: center;
  background-color:#A3ECC8;
  color: #708178;
}

.web-skill-icon p span{
  font-weight: 700;
  font-size: 15px;
}

.about-summary{
  width: 700px;
  margin: auto;
  color: rgba(130, 159, 144, 1);
}

/* PROJECTS */

#projects{
  width: 960px;
  min-height: 100%;
  margin: 0px auto;
}

#projects h1{
  color: rgba(192, 232, 239, 1);
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
}

.pro-left, .pro-right{
  display: inline-block;
  vertical-align: middle;
}

.pro-left{
  width: 30%;
  margin: auto;
  color: rgba(98, 136, 152, 1);

}

.pro-left h2{
  color: rgba(214, 227, 233, 1);
  font-size: 40px;
}

.pro-left a{
  display: inline-block;
  padding: 0.5em 2.5em;
  background-color: rgba(192, 232, 239, 1);
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: rgba(151, 183, 197, 1);
  margin: auto 10px auto auto;
  -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
        border-radius: 4px;
}

.pro-left a:hover{
  transform: scale(1.2, 1.2);
  background-color: #8CABCE;
  color: #D0F2F2;
}

.pro-right{
  width: 65%;
  margin: auto;
}

.pro-right img{
  width: 100%;
}


/* BODY FOOTER - CONTACT */
#page-footer{
  width: 960px;
  min-height: 100%;
  margin: auto;
}

#page-footer h2{
  color: #FFCCCC;
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
}

#page-footer .about-info{
/*  width: 200px;
  height: 0px;
  margin: auto;
  background-color: #FFFFCC;
  display: inline-block;
  vertical-align: bottom;*/
}

#page-footer .contact{
  width: 700px;
  margin: auto;
}

.contact p{
  text-align: center;
}

.contact input, .contact textarea{
  width: 95%;
  padding: 0.7em;
  font-size: 15px;
}

.contact textarea{
  height: 150px;
}


.contact button{
  margin: auto;
  width: 250px;
  padding: 0.5em;
  background-color: #FFA3A3;
  color: white;
  font-size: 20px;
  border: 2px solid rgba(225, 225, 225, 0.5);
  -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
        border-radius: 4px;
}

/* FOOTER */

footer{
  margin: auto;
  padding: 0.5em;
  width: 100%;
  background-color: rgba(255, 239, 247, 1);
  border-top: 15px solid rgba(252, 236, 237, 1);
}

footer .links{
  margin: auto auto 10px auto;
  display: inline-block;
  width: 100%;
  text-align: center;
}

footer .links a{
  padding: 0.5em;
  font-size: 20px;
  color: #806666;
}

@media screen and (max-width: 960px){
  body{
    min-height: 100%;
    width: 100%;
    padding: 0;
  }

  ul, li, div, section{
    padding: 0;
  }

  #page-header,
  #page-body #home,
  #page-body #about,
  #page-body #projects{
    width: 100%;
  }

  #page-body,
  #page-footer{
    width:100%;
    min-height: 100%;
    padding: 0;
  }

   #page-footer .contact{
    width: 100%;
  }

  .web-skill-icon ul,
  .web-skill-icon p{
    width: 100%;
    margin: auto;
  }

  .web-skill-icon img{
    width: 90px;
    height: 90px;
    margin: auto;
  }

  .pro-left a{
    padding: 0.5em 1em;
  }

}

@media screen and (max-width: 640px){
  ul{
    padding: 0;
  }

  #page-header .nav li{
    padding: 0.1em 0.2em 0.5em 0.1em;
  }

  #page-header .nav li a{
    font-size: 25px;
    margin: auto;
    padding: 0;
  }

/*  #page-body #home{
    max-height: 100%;
    width: 100%;
    margin: -30px auto;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
  }*/

  .pro-left,
  .pro-right{
    display: block;
    width: 95%;
    text-align: center;
    padding-bottom: 1em;
  }

  .pro-left p, .about-summary {
    width: 90%;
    margin: auto;
    padding: 0;
    padding-bottom: 1em;
  }

  .pro-left a{
    padding: 0.5em 2em;
  }

  .web-skill-icon,
  .web-skill-icon section{
    width: 100%;
    margin: auto;
  }

  .web-skill-icon img{
    width: 60px;
    height: 60px;
    margin: auto;
  }

  .quote{
    display: none;
  }

  .blank{
    height: 100px;
  }

  .contact input, .contact textarea{
    padding: 0.5em;
  }

  .contact textarea{
    height: 95px;
  }

  #Layer_1{
    height: 200px;
  }

}

@media screen and (max-width: 320px){

  html,body,footer{
    width: 320px;
  }

  #page-header, .nav,
  #page-body, #home, #about, #projects,
  #page-footer, .contact,
  .web-skill-icon ul,
  .web-skill-icon p,
  #projects li{
    width: 320px;
  }

  img, p, h2, h3, #projects li{
    width: 320px;
    display: block;
  }


}

