@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

*{
  text-decoration: none;
  list-style: none;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 0;
  outline-style: none;
}

html,body{
  margin: 0;
  padding: 0;
  width: 100%;
}


/* PAGE-HEADER AND NAV */
#page-header{
  width: 100%;
  margin: 0px auto;
  position: fixed;
  top:0;
  z-index: 100;
}

#page-header #page-nav{
  margin-top: 0;
  text-align: right;
  background-color: rgba(33, 33, 33, 1);
}

#page-header #page-nav li{
  display: inline-block;
  padding: 0.2em 0.5em;
  font-size: 1.5em;
}

#page-header #page-nav a{
  color: rgba(255,255,255,0.8);

}

#page-nav #home-nav:hover{
  color: #FCECED;
}
#page-nav #about-nav:hover{
  color: #C0EFD4;
}
#page-nav #projects-nav:hover{
  color: #C0E8EF;
}
#page-nav #contact-nav:hover{
  color: #FCC;
}

#page-nav .active a,#page-nav .active a:hover{
  font-weight: 700;
  color: rgba(236, 218, 219, 1);
}


.quote{
  margin-top: -55px;
  padding-right: 1.5em;
  width: 27%;
  background-color: rgba(221, 221, 221, 0.2);
  color: #fff;
}

.quote blockquote{
  width: 100%;
}

/*** PAGE-BODY ***/

#page-body{
  width: 100%;
  margin: 0px auto;
}

.blank{
  height: 80px;
  width: 100%;
  background-color: rgba(0,0,0,0);
}

/* parallax */
.slide{
  height: 100%;
  overflow: hidden;
}
.slide-about{
  border-top: 1px solid rgba(98, 128, 111, 1);
}
.slide-projects{
  border-top: 1px solid rgba(122, 154, 159, 1);
}
.slide-contact{
  border-top: 1px solid rgba(120, 94, 94, 1);
}

.wheel{
  height: 100%;
  background: url(http://i.imgur.com/Gvev1ZK.jpg?1)no-repeat;
  background-size: 100% 100%;
  padding-bottom: 20px;
}
.glasses{
  height: 120%;
  background: url(http://i.imgur.com/tn6rMkE.jpg?1)no-repeat;
  background-size: 100% 125%;
}
.mountain{
  min-height: 120%;
  background: url(http://i.imgur.com/POSLjkV.jpg)no-repeat;
  background-size: 100% 100%;
}
.phone{
  min-height: 100%;
  background: url(http://i.imgur.com/QWp7IAt.jpg)no-repeat;
  background-size: 100% 100%;
}

/* HOME */
#page-body #home{
  height: 100%;
  margin: auto;
  font-size: 70px;
  text-align: center;
  color: #FFCCCC;
  background-color: rgba(0,0,0,0.5);
  padding-top: 20px;
}

#page-body #home img{
  width: 300px;
  height: 300px;
  position: absolute;
  padding: 0;
  right: 0;
  display: block;
  bottom: 0;
  z-index: 1;
  opacity: 0.6;
}

#page-body #home h3{
  z-index: 2;
  padding: 0;
  margin: auto;
  position: absolute;
  width: 100%;
  font-size: 1.15em;
}

/* SVG CSS */

#Layer_1{
  margin: auto;
  padding: 0;
  background-color: rgba(0,0,0,0.1);
}


.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  /*animation: dash 15s linear alternate infinite;*/

  -webkit-animation-name : dash;
  -moz-animation-name : dash;
  -ms-animation-name : dash;
  animation-name : dash;

  -webkit-animation-duration: 15s;
  -moz-animation-duration: 15s;
  -ms-animation-duration: 15s;
  animation-duration: 15s;

  -webkit-animation-timing-function : linear;
  -moz-animation-timing-function : linear;
  -ms-animation-timing-function : linear;
  animation-timing-function : linear;

  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count : infinite;
  -moz-animation-iteration-count : infinite;
  -ms-animation-iteration-count : infinite;
  animation-iteration-count : infinite;

}


@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@-moz-keyframes dash{
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@-ms-keyframes dash{
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash{
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@-o-keyframes dash{
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }

}

/* ABOUT */
#page-body #about{
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: rgba(0,0,0,0.5);
  padding-top: 20px
}

#about h2{
  color: rgba(192, 239, 212, 1);
  margin: -20px auto;
  width: 100%;
  text-align: center;
  font-size: 4.5em;
}

.web-skill-icon{
  margin: auto;
  max-width: 90%;
  padding-bottom: 45px;
}

.web-skill-icon ul{
  margin: auto;
  width: 100%;
  text-align: center;
}

.web-skill-icon li{
  display: inline-block;
  margin: auto;
  max-width: 100px;

}

.web-skill-icon img{
  width: 80px;
  height: 80px;
  margin: auto;
}

.web-skill-icon img:hover{
  -webkit-transform: scale(1.5, 1.5);
     -moz-transform: scale(1.5, 1.5);
       -o-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.web-skill-icon p{
  width: 700px;
  padding: 0.5em 0px;
  text-align: center;
  background-color:#A3ECC8;
  color: #708178;
  margin: 1em auto;
}

.web-skill-icon p span{
  font-weight: 700;
  font-size: 15px;
}

.about-summary{
  width: 785px;
  font-size: 1.25em;
  margin: auto;
  color: rgba(209, 234, 221, 1);
}

/* PROJECTS */

#projects{
  width: 100%;
  min-height: 120%;
  margin:auto;
  background-color: rgba(0,0,0,0.5);
  padding-bottom: 20px;
}

#projects ul{
  width: 100%;
  margin: auto;
}


#projects li{
  min-height: 400px;
  background-color: rgba(0,0,0,0.3);
  margin-bottom: 5em;
}

#projects h1{
  color: rgba(192, 232, 239, 1);
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 5em;
  margin-bottom: 10px;
}

.pro-left, .pro-right{
  display: inline-block;
  vertical-align: middle;
}

.pro-left{
  width: 40%;
  margin: auto;
  color: rgba(173, 200, 212, 1);
  padding-left: 5em;
  font-size: 1.5em;
}

.pro-left h2{
  color: rgba(214, 227, 233, 1);
  font-size: 40px;
}

.pro-left p{
  width: 60%;
}

.pro-left a{
  display: inline-block;
  padding: 0.5em 2.5em;
  background-color: rgba(192, 232, 239, 1);
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: rgba(89, 147, 173, 1);
  margin: auto 10px auto auto;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
       -o-border-radius: 4px;
          border-radius: 4px;
}

.pro-left a:hover{
  -webkit-transform: scale(1.2, 1.2);
     -moz-transform: scale(1.2, 1.2);
       -o-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  background-color: #8CABCE;
  color: #D0F2F2;
}

.pro-right{
  width: 50%;
  margin: auto;
}

.pro-right img{
  width: 100%;
}


/* BODY FOOTER - CONTACT */
#page-footer{
  width: 100%;
  min-height: 100%;
  margin: auto;
  background-color: rgba(102, 62, 62, 0.5);
  padding-top: 10px;
}

#page-footer h2{
  color: #FFE1E1;
  margin: -20px auto;
  width: 100%;
  text-align: center;
  font-size: 4.5em;
  margin-bottom: 10px;
}

#page-footer .contact{
  width: 100%;
  margin: 0px auto;
  padding-bottom: 20%;
}

.contact p{
  text-align: center;
}

.contact form{
  width: 60%;
  margin: auto;
}

.contact input, .contact textarea{
  width: 95%;
  padding: 0.5em;
  font-size: 20px;
  background-color: rgba(0,0,0, 0.2);
  color: #fff;
  border: 1px solid #fff;
}

.contact textarea{
  height: 25%;
  min-height: 4em;
}


.contact button{
  margin: auto;
  width: 250px;
  padding: 0.5em;
  background-color: rgba(222, 158, 158, 0.8);
  color: white;
  font-size: 20px;
  border: 2px solid rgba(225, 225, 225, 0.5);
  -webkit-appearance: none;
   -moz-appearance: none;
    -o-appearance: none;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
       -o-border-radius: 4px;
          border-radius: 4px;
}

.contact button:hover{
  background-color: rgba(248, 152, 152, 1);
  -webkit-transform: scale(1.2,1.2);
     -moz-transform: scale(1.2,1.2);
       -o-transform: scale(1.2,1.2);
          transform: scale(1.2,1.2);
}

/* FOOTER */

footer{
  margin: auto;
  width: 100%;
  padding: 0.5em 0px;
  background-color: rgba(33, 33, 33, 1);
}

footer .links{
  margin: auto auto 10px auto;
  display: inline-block;
  width: 100%;
  text-align: center;
}

footer .links a{
  padding: 0.5em;
  font-size: 20px;
  color: rgba(147, 134, 134, 1);
}

footer .links a:hover{
  color: #C89595;
}


@media screen and (max-width: 980px) and (max-height: 1280px){
    #about h2,
    #page-footer h2,
    #projects h1{
      font-size: 5em;
    }

    .blank{
      height: 160px;
    }

    #page-body #home h3{
      font-size: 1.5em;
    }

    #page-footer .contact{
      height: 1280px;
      padding-bottom: 0;
    }

    .about-summary{
      width: 700px;
    }

    .about-summary p{
      font-size: 1em;
    }

    .pro-left{
      font-size: 1em;
      padding-left: 2em;
    }

    .pro-left p {
      width: 80%;
    }

    .web-skill-icon {
      margin: 5em auto;
      padding-bottom: 0;
    }

    .web-skill-icon img{
      width: 75px;
      height: 75px;
    }

    .contact form {
      width: 80%;
    }
}

@media screen and (max-width: 1350px) and (max-height: 600px){
    #about h2,
    #page-footer h2,
    #projects h1{
      font-size: 3.5em;
    }

    #page-body #home h3{
      font-size: 1em;
    }

    .about-summary {
      width: 700px;
      font-size: 1em;
    }

    #omit-mobile{
      display: none;
    }

    .web-skill-icon {
      margin: 3.5em auto;
    }

    .web-skill-icon img{
      width: 75px;
      height: 75px;
    }

    .pro-left {
      font-size: 1.3em;
    }

    .contact input, .contact textarea{
      padding: 0.3em;
    }

    .contact textarea{
      height: 5em;
      min-height: 5em;
    }
}

@media screen and (max-width: 960px) and (max-height: 1024px){
  body{
    min-height: 100%;
    width: 100%;
    padding: 0;
  }

  ul, li, div, section, footer{
    padding: 0;
  }

  footer{
    width: 100%;
    padding: 0.5em 0px;
  }

  #page-header,
  #page-body #home,
  #page-body #about,
  #page-body #projects{
    width: 100%;
  }

  #page-body,
  #page-footer{
    width:100%;
    min-height: 100%;
    padding: 0;
  }

   #page-footer .contact{
    width: 100%;
    height: 100%;
  }

  #page-body #home h3{
    font-size: 0.8em;
  }

  .about-summary p{
    font-size: 0.7em;
  }

  .pro-left a{
    padding: 0.5em 1em;
  }

  .pro-left{
    padding-left: 2em;
  }

  #projects ul{
    width: 100%;
    margin: auto;
  }

  .contact form{
    width: 80%;
    margin: auto;
  }

}

@media screen and (max-width: 640px) and (max-height:640px){

  /* PARALLAX MEDIA */

  .wheel{
    background-size: 160% 100%;
  }
  .glasses{
    background-size: 120% 150%;
  }
  .mountain{
    background-size: 150% 100%;
  }
  .phone{
    background-size: 100% 100%;
  }
  .slide{
    height: auto;
    min-height: 100%;
  }

  /* HEADER MEDIA */
  #page-header #page-nav{
    text-align: center;
  }

  #page-header #page-nav li{
    padding: 0.1em 0.2em 0.5em 0.1em;
  }

  #page-header #page-nav li a{
    font-size: 20px;
    margin: auto;
    padding: 0;
  }

  .quote{
    display: none;
  }

  .blank{
    height: 100px;
  }

  /* HOME MEDIA */

  #Layer_1{
    height: 200px;
  }

  #page-body #home h3{
    font-size: 1em;
  }

  /* PROJECT MEDIA */
  #projects li{
    padding: 20px 0;
  }

  .pro-left,
  .pro-right{
    display: block;
    width: 95%;
    text-align: center;
    padding-bottom: 1em;
  }

  .pro-left{
    padding-left: 0;
  }

  .pro-left p, .about-summary {
    width: 90%;
    margin: auto;
    padding: 0;
    padding-bottom: 1em;
  }

  .pro-left a{
    padding: 0.5em 2em;
  }

  .pro-left a:hover{
    transform: scale(1);
  }

  .web-skill-icon,
  .web-skill-icon section{
    width: 100%;
    max-width: 100%;
    margin: auto;
  }

  .web-skill-icon p{
    width: 95%;
    margin: auto;
  }

  .web-skill-icon img{
    width: 50px;
    height: 50px;
    padding: 1px;
    margin: auto;
  }
  .web-skill-icon img:hover{
    transform: scale(1);
    opacity: 0.7;
  }

  .web-skill-icon ul{
    padding-bottom: 5px;
  }

  /* CONTACT MEDIA */

  .contact input, .contact textarea{
    padding: 0.5em;
  }

  .contact textarea{
    height: 95px;
  }

  .contact form{
    width: 88%;
    margin: auto;
  }

}

@media screen and (max-width: 480px) and (max-height: 640px){
  #Layer_1 {
    height: 135px;
  }

  #page-body #home h3{
    font-size: 0.65em;
  }

  .slide-about{
    padding-bottom: 2em;
  }

  #page-body #about, .glasses{
    padding-bottom: 2em;
  }

}

@media screen and (max-width: 360px) and (max-height: 640px){
  .blank {
    height: 60px;
  }

  #page-footer h2,
  #projects h1 {
    font-size: 2.5em;
  }

  #page-body #home h3{
    font-size: 0.5em;
  }

  #about h2{
    font-size: 38px;
    margin-top: -30px;
  }

  .web-skill-icon{
    margin-top: -15px;
  }

  .web-skill-icon img{
    width: 45px;
    height: 40px;
    margin-top: 2px;
    padding: 1px;
  }

  #omit-mobile{
    display: none;
  }

  .about-summary p{
    border: 0;
  }

  .mountain{
    background-size: 150% 100%;
  }

  .phone{
    background-size: 130% 100%;
  }

  .contact p{
    margin: 1em auto;
  }
}

@media screen and (max-width: 320px) and (max-height: 480px){

  html,body,footer,
  #page-header, #page-nav{
    width: 320px;
    padding: 0;
  }


  #page-body, #home, #about,
  #projects, #page-footer{
    width: 320px;
  }

  #contact,
  .about-summary,
  .web-skill-icon ul,
  #projects li{
    width: 100%;
    margin: auto;
    text-align: center;
  }

  #page-body #home h3{
    font-size: 0.5em;
    width: 300px;
  }

  #page-footer h2, #projects h1 {
    font-size: 2em;
  }

  .about-summary p{
    font-size: 0.9em;
    text-align: center;
  }

  .pro-left h2 {
    font-size: 1.5em;
  }

  .pro-left p{
    font-size: 0.8em;
  }

  .pro-left a {
    padding: 0.5em 1em;
  }

  .web-skill-icon p{
    width: 300px;
  }

  #page-nav li a{
    font-size: 20px;
  }

  .contact form{
    width: 100%;
    margin: auto;
  }

  .contact input, .contact textarea {
    padding: 0.2em;
  }

  img, p, h2, h3{
    width: 300px;
    display: block;
  }


}

