@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
body{
  font-family: 'Indie Flower', cursive;
  max-width: 960px;
}


#main{
  text-align: center;
}
#main_image{
  width: 600px;
  height: 400px;
}

#home_title{
  text-align: center;
  font-size: 50px;
}

#main_img{
/*  display: inline-block;
  vertical-align: top;*/
  margin: 20px;
  width:800px;
  margin-left: 10px;
}

.small{
  width: 400px;
  height: 300px;
}

.big{
  width: 800px;
  height: 600px;
}

#main_title{
  text-align: center;
}

#small_imgs{
  margin-left: 100px;
}

#small_imgs, #imgs_description{
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

#small_imgs img, #imgs_description img{
  display: block;
  margin: 10px;
}
