<ul class="nav" id="page-nav">
  <li ng-class="{ active: isSelected(0) }">
    <a href ng-click="setTab(0); gotoElement('home')">
      HOME
    </a>
  </li>
  <li ng-class="{ active: isSelected(1) }">
    <a href ng-click="setTab(1); gotoElement('about')">
      ABOUT
    </a>
  </li>
  <li ng-class="{ active: isSelected(2) }">
    <a href ng-click="setTab(2); gotoElement('projects')">
      PROJECT
    </a>
  </li>
  <li ng-class="{ active: isSelected(3) }">
    <a href ng-click="setTab(3); gotoElement('contact')">
      CONTACT
    </a>
  </li>
</ul>