<div id="page-footer">
  <div id="blank"></div>
  <div class="about-info"></div>
  <div class="contact" id='contact'>
    <div class="blank"></div>
    <h2>LET'S TALK ABOUT CODE!</h2>
    <form action="mailto:rira.nunu.choi@gmail.com?subject=Hello, Rira!" enctype="text/plain" method="post" role="form">
      <p><input class="first-name" name="first-name" placeholder="First Name" type="text"/></p>
      <p><input class="last-name" name="last-name" placeholder="Last Name" type="text"/></p>
      <p><input class='email-address' placeholder='Your E-mail Address' type='text'/></p>
      <p><textarea name="message" placeholder='Say Hello to Rira!' type="text"></textarea></p>
      <p><button class="btn-send">Send</button></p>
    </form>
  </div>
</div>